.colors {
  pink: #D32674;
  violet: #724BB2;
  blue: #2B6CC2;
  mauve: #CCACFF;
  darkmauve: #9A5CFF;
  green: #2F9080;
  darkgreen: #007A01;
  darkblue: #2F67B1;
  maroon: #A71D5D;
  purple: #4B00AD;
  teal: #087BA8;
}